// @import "{}/imports/ui/stylesheets/reset";

// // Global namespace
// @import "{}/imports/ui/stylesheets/base";
// @import '{}/imports/ui/stylesheets/button';
// @import '{}/imports/ui/stylesheets/form';
// @import '{}/imports/ui/stylesheets/layout';
// @import '{}/imports/ui/stylesheets/link';
// @import '{}/imports/ui/stylesheets/menu'

// // Global components
@import '{}/imports/ui/components/note/note';
@import '{}/imports/ui/components/notes/notes';
@import '{}/imports/ui/components/file/file';
@import '{}/imports/ui/components/kanbanList/kanbanList';
@import '{}/imports/ui/components/calendar/calendar';
@import '{}/imports/ui/stylesheets/message';
@import '{}/imports/ui/stylesheets/notification';

// // Individual components
@import "{}/imports/ui/pages/app-not-found";
@import "{}/imports/ui/accounts/accounts-templates";
