@import "{}/imports/ui/stylesheets/not-found.less";

.tag-red { background-color: #FFB5B5; }
.tag-orange { background-color: #FFD8B5; }
.tag-yellow { background-color: #FFFAB5; }
.tag-lime { background-color: #E1FFB5; }
.tag-olive { background-color: #B5FFC9; }
.tag-green { background-color: #CCFFB5; }
.tag-teal { background-color: #B5FFD7; }
.tag-aqua { background-color: #B5FFFC; }
.tag-blue { background-color: #B5E8FF; }
.tag-navy { background-color: #B9B5FF; }
.tag-fuchia { background-color: #F1B5FF; }
.tag-purple { background-color: #D3B5FF; }
.tag-maroon { background-color: #C08F8F; }
.tag-silver { background-color: silver; }
.tag-gray { background-color: #gray; }
.tag-complete, .tag-done {
	text-decoration: line-through;
	opacity: .5;
}

a.delete {
	text-decoration: none;
}

#notes {
	li {
		div {
			display: inline-block;
		}
		p {
			margin: .5em;
			opacity: .8;
		}
	}
}