@import "{}/imports/ui/stylesheets/not-found.less";

#main-content {
	margin-left: inherit !important;
}

.header.black-bg {
  background-color: #ff8f1b;
  a {
    color: white;
    border-color: white !important;
  }
  #login-buttons {
    margin: 1.5em;
  }
}

@bordercolorWidth: 4px;


.tagLink { 
  border-width: 1px;
  padding: .25em; 
  border-radius: 10px;
  border-style: solid;
  box-shadow: 1px 1px 2px #8e8e8e;
}
.tagLink:hover {
  box-shadow: 2px 2px 3px #8e8e8e;
}
.note { border-left: solid @bordercolorWidth; }
.tag-red { border-color: #FF2020; }
.tag-orange { border-color: #FFD8B5; }
.tag-yellow { border-color: #FFFAB5; }
.tag-lime { border-color: #E1FFB5; }
.tag-olive { border-color: #B5FFC9; }
.tag-green { border-color: #CCFFB5; }
.tag-teal { border-color: #B5FFD7; }
.tag-aqua { border-color: #B5FFFC; }
.tag-blue { border-color: #B5E8FF; }
.tag-navy { border-color: #B9B5FF; }
.tag-fuchia { border-color: #F1B5FF; }
.tag-purple { border-color: #D3B5FF; }
.tag-maroon { border-color: #C08F8F; }
.tag-silver { border-color: silver; }
.tag-gray { border-color: gray; }
.tag-complete, .tag-done {
	.title {
		text-decoration: line-through;
		opacity: .5;
	}
}

#notes {
	margin: 1em;
}
.note {
	float: left;
	clear: both;
	width: 100%;
	.expand {
		text-decoration: none;
		font-weight: bold;
	}
	div.title {
		display: inline-block;
    font-size: 1.4em;
    color: black;
    min-width: 40%;
	}
	div.title:focus {
	    outline: none;
	}
	p {
		margin: .5em;
		opacity: .8;
    font-size: 1.2em;
    color: black;
	}
}
#new-note {
	opacity: .6;
	clear: left;
}


/*--------------Tasks Widget--------------*/

.task-content {
    margin-bottom: 30px;
}

.task-panel {
  background: #fff;
  text-align: left;
  box-shadow: 0px 3px 2px #aab2bd;
  margin: 5px;
}

.tasks-widget .task-content:after {
  clear: both;
}

.tasks-widget .task-footer  { 
  margin-top: 5px;
}

.tasks-widget .task-footer:after,
.tasks-widget .task-footer:before {
  content: "";
  display: table;
  line-height: 0;
}

.tasks-widget .task-footer:after {
  clear: both;
}

.tasks-widget  .task-list {
  padding:0;
  margin:0;
}

.tasks-widget .task-list > .note {
  position:relative;
  padding:10px 5px;
  border-bottom:1px dashed #eaeaea;
}

.tasks-widget .task-list  .note.last-line {
  border-bottom:none;
}

.tasks-widget .task-list  .note > .task-bell  {
  margin-left:10px;
}

.tasks-widget .task-list  .note > .task-checkbox {
  float:left;
  width:30px;
}

.tasks-widget .task-list  .note > .task-title  {
  margin-right:10px;
}

.tasks-widget .task-list  .note > .task-config {
  position:absolute;
  top:10px;
  right:10px;
}

.tasks-widget .task-list  .note .task-title .task-title-sp  {
  margin-right:5px;
}

.tasks-widget .task-list  .note.task-done .task-title-sp  {
  text-decoration:line-through;
  color: #bbbbbb;
}

.tasks-widget .task-list  .note.task-done  {
  background:#f6f6f6;
}

.tasks-widget .task-list  .note.task-done:hover {
  background:#f4f4f4;
}

.tasks-widget .task-list  .note:hover  {
  background:#f9f9f9;
}

.tasks-widget .task-list  .note .task-config {
  display:none;
}

.tasks-widget .task-list  .note:hover > .task-config {
  display:block;
  margin-bottom:0 !important;
}


@media only screen and (max-width: 320px) {

  .tasks-widget .task-config-btn {
    float:inherit;
    display:block;
  }
  
  .tasks-widget .task-list-projects .note > .label {
    margin-bottom:5px;
  }

}

/*todolist*/
#notes {
    list-style-type: none;
    margin: 0 0 20px 0;
    padding: 0;
    width: 100%;
}
#notes .note {
    padding-left: 3em;
    font-size: 12px;
}
#notes .note i.fa {
    position: absolute;
    left:6px;
    padding:4px 10px 0 10px;
    cursor: pointer;
}

#notes .note input[type=checkbox]{
    margin-top: 0;
}

.ui-sortable > .note {
    padding: 15px 0 15px 35px !important ;
    position: relative;
    background: #f5f6f8;
    margin-bottom: 2px;
    border-bottom   : none !important;
}

.ui-sortable .note.list-primary {
    border-left: 3px solid #41CAC0;
}

.ui-sortable .note.list-success {
    border-left: 3px solid #78CD51;
}

.ui-sortable .note.list-danger {
    border-left: 3px solid #FF6C60;
}

.ui-sortable .note.list-warning {
    border-left: 3px solid #F1C500;
}

.ui-sortable .note.list-info {
    border-left: 3px solid #58C9F3;
}

.ui-sortable .note.list-inverse {
    border-left: 3px solid #BEC3C7;
}

.searchForm {
  float: left;
  margin: 1em;
}

.searchResult {
  font-weight: bold;
  font-size: 1.2em;
  color: #41CAC0;
}