@import '../node_modules/flag-icon-css/css/flag-icon.css';

// Everything must be here because if you put them straight in the coffee for the component, everything reloads on change

@import '{}/imports/ui/stylesheets/layout';

// // Global components
@import '{}/imports/ui/components/botWidget/botWidget';
@import '{}/imports/ui/components/bulletNoteItem/bulletNoteItem';
@import '{}/imports/ui/components/bulletNotes/bulletNotes';
@import '{}/imports/ui/components/calendar/calendar';
@import '{}/imports/ui/components/file/file';
@import '{}/imports/ui/components/footer/footer';
@import '{}/imports/ui/components/kanbanList/kanbanList';
@import '{}/imports/ui/components/kanbanListItem/kanbanListItem';
@import '{}/imports/ui/components/loading/loading';
@import '{}/imports/ui/components/menu/menu';
@import '{}/imports/ui/components/moveTo/moveTo';
@import '{}/imports/ui/components/noteTitle/noteTitle';

@import '{}/imports/ui/stylesheets/message';
@import '{}/imports/ui/stylesheets/notification';


@import "{}/imports/ui/pages/404/app-not-found";
@import "{}/imports/ui/pages/intro/intro";
@import "{}/imports/ui/pages/settings/settings";
@import "{}/imports/ui/pages/zoom/zoom";

@import '{}/imports/ui/layouts/app-botPage';

@import "{}/imports/ui/accounts/accounts-templates";

