template(name='kanbanListItem')
    li.kanbanListItem(data-id="{{_id}}")
        .dot.mdl-button.mdl-button--icon.hasChildren(title="{{hoverInfo}}")
            i.material-icons.zoom(id="drag_{{_id}}") fiber_manual_record
        +noteTitle