#external-events
  .mdl-chip
    cursor: move

#calendar
  color: black

#calendarSection
  margin: 0 1em
  padding: 1em
  background-color: white
  box-shadow: 0px 0px 10px #000
  .fc-title
    color: white