template(name='calendar')
  #calendarSection.content-scrollable
    #external-events
      +each unscheduledNotes
        .external-event.label.label-theme(data-id="{{_id}}") {{{ title }}}
    #calendar.has-toolbar
