template(name="App_settings")
  #settingsPage
    .title-message {{_ 'layouts.appBody.settings'}}
    .subtitle-message
      h4 Theme
    ul.demo-list-control.mdl-list
      li.mdl-list__item
        span.mdl-list__item-primary-content
          i.material-icons.mdl-list__item-avatar person
          |       Aaron Paul
        span.mdl-list__item-secondary-action
          label.demo-list-radio.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for='list-option-1')
            input#list-option-1.mdl-radio__button(type='radio', name='options', value='1', checked='')
      li.mdl-list__item
        span.mdl-list__item-primary-content
          i.material-icons.mdl-list__item-avatar person
          |       Aaron Paul
        span.mdl-list__item-secondary-action
          label.demo-list-radio.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for='list-option-2')
            input#list-option-2.mdl-radio__button(type='radio', name='options', value='2', checked='')
      li.mdl-list__item
        span.mdl-list__item-primary-content
          i.material-icons.mdl-list__item-avatar person
          |       Aaron Paul
        span.mdl-list__item-secondary-action
          label.demo-list-radio.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for='list-option-3')
            input#list-option-3.mdl-radio__button(type='radio', name='options', value='3', checked='')

    .subtitle-message
      h4 {{_ 'layouts.appBody.import'}}/{{_ 'layouts.appBody.export'}}
    a#importLink.form-control.btn.btn-theme.btn-primary(href='/import') {{_ 'layouts.appBody.import'}}
    a#exportLink.form-control.btn.btn-theme.btn-primary(href='#') {{_ 'layouts.appBody.export'}}
    #exportSpinner(style='display:none')
      i.glyphicon.glyphicon-refresh.glyphicon-spin
    textarea#exportResult(style='display:none')
    
    h4 Dropbox
    p
      | You can link your Dropbox account for a nightly backup.
      | Each backup file can be imported straight into another instance of BulletNotes,
      | or into something like Workflowy.
    if dropbox_token
      a#deauthLink.form-control.btn.btn-theme.btn-primary Unlink Dropbox Account
    else
      a#authlink.form-control.btn.btn-theme.btn-primary Authenticate with Dropbox
    
    h4 Alfred Integration
    p Documentation: 
      a(href="https://bulletnotes.io/note/frCTPYCuSQN2kDRdo")
        | https://bulletnotes.io/note/frCTPYCuSQN2kDRdo
    p Your user id is: {{userId}}
