#settingsPage
	.selectIcon
		position: absolute
		height: 1em
		width: 1em
		z-index: 999
	.selectInput
		padding-left: 3em
	
	.mdl-card__supporting-text
		overflow: visible
	
	.mdl-menu__container
		z-index: 999

	.themeWrap
		z-index: 1200

	.themeWrap, .languageWrap
		z-index: 999
		.mdl-card
			overflow: visible