template(name="App_settings")
  #settingsPage.extraPage
    .title-message {{_ 'layouts.appBody.settings'}}
    .subtitle-message
      h4 Theme
    ul.demo-list-control.mdl-list
      +each themes
        li.mdl-list__item
          span.mdl-list__item-primary-content
            i.material-icons.mdl-list__item-avatar person
            | {{theme}}
          span.mdl-list__item-secondary-action
            label.demo-list-radio.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for='theme_{{theme}}')
              input.themeInput.mdl-radio__button(type='radio', name='options', value='1', checked='{{themeChecked theme}}', id='theme_{{theme}}' data-name='{{theme}}')

    .subtitle-message
      h4 Language
    ul.demo-list-control.mdl-list
      +each languages
        li.mdl-list__item
          span.mdl-list__item-primary-content
            i.material-icons.mdl-list__item-avatar person
            | {{language}}
          span.mdl-list__item-secondary-action
            label.demo-list-radio.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for='language_{{language}}')
              input.languageInput.mdl-radio__button(type='radio', name='options', value='1', checked='{{languageChecked language}}', id='language_{{language}}' data-name='{{language}}')


    .subtitle-message
      h4 {{_ 'layouts.appBody.import'}}/{{_ 'layouts.appBody.export'}}
    a#importLink.form-control.btn.btn-theme.btn-primary(href='/import') {{_ 'layouts.appBody.import'}}
    a#exportLink.form-control.btn.btn-theme.btn-primary(href='#') {{_ 'layouts.appBody.export'}}
    #exportSpinner(style='display:none')
      i.glyphicon.glyphicon-refresh.glyphicon-spin
    textarea#exportResult(style='display:none')
    
    h4 Dropbox
    p
      | You can link your Dropbox account for a nightly backup.
      | Each backup file can be imported straight into another instance of BulletNotes,
      | or into something like Workflowy.
    if dropbox_token
      a#dropboxExportLink.form-control.btn.btn-theme.btn-primary Export All Notes to Dropbox
      a#deauthLink.form-control.btn.btn-theme.btn-primary Unlink Dropbox Account
    else
      a#authlink.form-control.btn.btn-theme.btn-primary Authenticate with Dropbox

    .mdl-card.mdl-shadow--2dp.mdl--centered
      .mdl-card__title
        h2.mdl-card__title-text Alfred Integration
      .mdl-card__supporting-text
        p Documentation: 
        a(href="https://bulletnotes.io/note/frCTPYCuSQN2kDRdo")
          | https://bulletnotes.io/note/frCTPYCuSQN2kDRdo
      .mdl-card__actions.mdl-card--border
        p Your API Key
        input#apiKey(value='{{currentUser.apiKey}}')
        br
        a#copyApiKey Copy
        br
        a#generateApiKey Generate a New API Key
