[submodule "packages/flow-router"]
  path = packages/flow-router
  url = https://github.com/serut/flow-router.git
[submodule "packages/meteor-coverage"]
  path = packages/meteor-coverage
  url = https://github.com/serut/meteor-coverage.git
[submodule "packages/meteor-coverage-self-instrumenter"]
  path = packages/meteor-coverage-self-instrumenter
  url = https://github.com/serut/meteor-coverage-self-instrumenter.git