template(name="App_pricing")
  #settingsPage.extraPage
    .title-message {{_ 'layouts.appBody.pricing'}}
    .mdl-grid
        .mdl-card.mdl-cell.mdl-shadow--2dp.mdl-cell--1-offset
            .mdl-card__title
                h2.mdl-card__title-text Free Plan
            .mdl-card__supporting-text
                | BulletNotes.io is free for up to {{noteLimit}} notes.
                | It is also Open Source so you are free to run your own, unrestricted version on your own server.
            .mdl-card__actions.mdl-card--border
                a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href='https://github.com/NickBusey/BulletNotes',target='_blank')
                    | Download Open Source
            .mdl-card__menu
                | Free!
                    
        .mdl-card.mdl-cell.mdl-shadow--2dp.mdl-cell--2-offset
            .mdl-card__title
                h2.mdl-card__title-text Pro Plan
            .mdl-card__supporting-text
                | The Pro plan comes with unlimited notes, automatic nightly Dropbox export, and more!
            .mdl-card__actions.mdl-card--border
                a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href='#')
                    | Coming Soon
            .mdl-card__menu
                | $5/month
        
