template(name='kanbanList')
  .kanbanList(class=className, data-id="{{_id}}")
    header
      +noteMenu
      +noteTitle
      +noteBody
    if photo
      img(src=photo,width="100%")
    
    ul.kanbanChildNotes
      +each childNotes
        +kanbanListItem
    footer Add a card...
