template(name='kanbanList')
  .kanbanList
    span {{title}}
    .kanbanChildNotes(data-id="{{_id}}")
      +each childNotes
        .kanbanItem(data-id="{{_id}}")
          .title {{title}}
          a.edit
            .glyphicon.glyphicon-edit
        
          a.zoom(href='/note/{{_id}}')
            .glyphicon.glyphicon-fullscreen
          
