.kanbanList
    background: gray
    width: 15em
    margin: .25em
    border-radius: .5em
    float: left

    .kanbanItem
      display: block
      background-color: white
      margin: .25em
      border-radius: .5em
      color: black
