template(name='kanbanList')
  .list
    header {{title}}
    ul.kanbanChildNotes(data-id="{{_id}}")
      +each childNotes
        +note
        //- li.kanbanItem(data-id="{{_id}}")
        //-   .title {{title}}
        //-   a.zoom(href='/note/{{_id}}')
        //-     .glyphicon.glyphicon-fullscreen

    footer Add a card...
