template(name='kanbanList')
  .kanbanList(class=className)
    header
      +noteTitle
    if photo
      img(src=photo,width="100%")
    ul.kanbanChildNotes(data-id="{{_id}}")
      +each childNotes
        +note
    footer Add a card...
