#introPage
    text-align: center

    #logo
        font-size: 4.2em
        color: #85abed

    ul
        margin: 0 auto
        display: block
        overflow: hidden
        padding: 2em
    li
        list-style: none
        cursor: default
        margin: 0 1em

        