<template name="Notes_show">
  <div class="page notes-show">
    <nav class="js-title-nav">
      {{#momentum plugin="fade"}}
        {{#if editing}}
          <form class="js-edit-form note-edit-form">
            <input type="text" name="name" value="{{name}}">
            <div class="nav-group right">
              <a href="#" class="js-cancel nav-item">
                <span
                  class="icon-close js-cancel"
                  title={{_ 'notes.show.cancel'}}>
                </span>
              </a>
            </div>
          </form>
        {{else}}
          <div class="nav-group">
            <a href="#" class="js-menu nav-item">
              <span
                class="icon-note-unordered"
                title={{_ 'notes.show.showMenu'}}>
              </span>
            </a>
          </div>

          <h1 class="js-edit-note title-page">
            <span class="title-wrapper">{{{note.title}}}</span>
            <span class="count-note">{{note.incompleteCount}}</span>
          </h1>

          <div class="nav-group right">
            <div class="nav-item options-mobile">
              <select class="note-edit">
                <option disabled selected>
                  {{_ 'notes.show.selectAction'}}
                </option>
                {{#if note.userId}}
                  <option value="public">{{_ 'notes.show.makePublic'}}</option>
                {{else}}
                  <option value="private">{{_ 'notes.show.makePrivate'}}</option>
                {{/if}}
                <option value="delete">{{_ 'notes.show.delete'}}</option>
              </select>
              <span class="icon-cog"></span>
            </div>
            <div class="options-web">
              <a class="js-toggle-note-privacy nav-item">
                {{#if note.userId}}
                  <span
                    class="icon-lock"
                    title={{_ 'notes.show.makeNotePublic'}}>
                  </span>
                {{else}}
                  <span
                    class="icon-unlock"
                    title={{_ 'notes.show.makeNotePrivate'}}>
                  </span>
                {{/if}}
              </a>

              <a class="js-delete-note nav-item">
                <span
                  class="icon-trash"
                  title={{_ 'notes.show.deleteNote'}}>
                </span>
              </a>
            </div>
          </div>
        {{/if}}
      {{/momentum}}

      <form class="js-note-new note-new input-symbol">
        <input
          type="text"
          placeholder={{_ 'notes.show.typeToAdd'}}
        />
        <span class="icon-add js-note-add"></span>
      </form>
    </nav>

    <div class="content-scrollable note-items">
      {{#if childrenReady}}
        {{#each note in children}}
          {{> Notes_item (noteArgs note)}}
        {{else}}
          <div class="wrapper-message">
            <div class="title-message">{{_ 'notes.show.noTasks'}}</div>
            <div class="subtitle-message">{{_ 'notes.show.addAbove'}}</div>
          </div>
        {{/each}}
      {{else}}
        <div class="wrapper-message">
          <div class="title-message">{{_ 'notes.show.loading'}}</div>
        </div>
      {{/if}}
    </div>
  </div>
</template>
