<template name="notes">
  <div class="page notes-show">
    <nav class="js-title-nav">
      {{#momentum plugin="fade"}}
        <div class="nav-group">
          <a href="#" class="js-menu nav-item">
            <span
              class="icon-list-unordered"
              title={{_ 'notes.show.showMenu'}}>
            </span>
          </a>
        </div>

        <h1 class="js-edit-note title-page">
          <div class="title-wrapper" contenteditable="true">{{{focusedNote.title}}}</div>
          <span class="count-note">5</span>
        </h1>

        <div class="nav-group right">
          <div class="nav-item options-mobile">
            <select class="note-edit">
              <option disabled selected>
                {{_ 'notes.show.selectAction'}}
              </option>
              {{#if note.userId}}
                <option value="public">{{_ 'notes.show.makePublic'}}</option>
              {{else}}
                <option value="private">{{_ 'notes.show.makePrivate'}}</option>
              {{/if}}
              <option value="delete">{{_ 'notes.show.delete'}}</option>
            </select>
            <span class="icon-cog"></span>
          </div>
          <div class="options-web">
            <a class="js-delete-note nav-item">
              <span
                class="icon-trash"
                title={{_ 'notes.show.deleteNote'}}>
              </span>
            </a>
          </div>
        </div>
      {{/momentum}}

      <form class="js-note-new note-new input-symbol">
        <input
          type="text"
          placeholder={{_ 'notes.show.typeToAdd'}}
        />
        <span class="icon-add js-note-add"></span>
      </form>
    </nav>

    <div class="content-scrollable note-items">
      {{#if notesReady}}
        {{#each notes}}
          {{> note}}
          
        {{else}}
          <div class="wrapper-message">
            <div class="title-message">{{_ 'notes.show.noNotes'}}</div>
            <div class="subtitle-message">{{_ 'notes.show.addAbove'}}</div>
          </div>
        {{/each}}
      {{else}}
        <div class="wrapper-message">
          <div class="title-message">{{_ 'notes.show.loading'}}</div>
        </div>
      {{/if}}
      <!-- {{> footer}} -->
    </div>
  </div>
</template>
