@import '{}/imports/ui/stylesheets/utils'

#notes 
  list-style-type: none
  margin: 6em 0 0
  padding: 0
  width: 100%
  background-color: white

  ol 
    padding-left: 25px

.page.notes-show {
  background: #fff;

  // Custom nav for notes-show
  nav {
    background: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
    height: 5em;

    text-align: center;
    @media screen and (min-width: 40em) { text-align: left; }

    .title-page {
      position(absolute, 2.5em, 3rem, auto, 3rem)

      font-size: 1.125em; // 18px
      white-space: nowrap;

      .title-wrapper {
        @extend .ellipsized;
        color: @color-ancillary;
        display: inline-block;
        padding-right: 1.5rem;
        vertical-align: top;
        max-width: 100%;
      }

      .count-note {
        background: @color-primary;
        border-radius: 1em;
        color: @color-empty;
        display: inline-block;
        font-size: .7rem;
        line-height: 1;
        margin-left: -1.25rem;
        margin-top: -4px;
        padding: .3em .5em;
        vertical-align: middle;
      }
    }
    form.note-new {
      position(absolute, 3em, 0, auto, 0)

      input[type="text"] {
        background: transparent;
        padding-bottom: .25em;
        padding-left: 44px !important;
        padding-top: .25em;
      }
    }
    form.note-edit-form {
      position: relative;

      input[type="text"] {
        background: transparent;
        font-size: 1.125em; // 18px
        width: 100%;
        padding-right: 3em;
        padding-left: 1rem;
      }
    }

    select.note-edit {
      @extend .font-s2;
      position(absolute, 0,0,0,0)
      background: transparent;
      opacity: 0; // allows the cog to appear
    }
  }
}

.options-web 
  display: none

  .nav-item 
    .font-s3
      width: 2rem

    &:last-child
      margin-right: .5rem
