template(name='notes')
  .row.mt.mb
    .col-md-12
      section.task-panel.tasks-widget
        .panel-heading
          .pull-left
            h4
              i.fa.fa-tasks
              +breadcrumbs
          br
        .panel-body
          .task-content
            h4 {{{focusedNoteTitle}}}
            if (progress)
              .progress.progress-striped(data-toggle="tooltip", data-placement="top", title="{{progress}}% Complete")
                .progress-bar(class='progress-bar-{{progressClass}}' role='progressbar', aria-valuenow='{{progress}}', aria-valuemin='0', aria-valuemax='100', style='width: {{progress}}%')
                  span.sr-only {{progress}}% Complete (success)

            ol#notes.task-list.selectable.sortable
              each notes
                +note
            div(class='note')
              .noteContainer
                .task-title
                  #new-note(class='title task-title-sp', contenteditable='true') {{newNoteText}}
