template(name='notes')
  ol#notes.content-scrollable.note-items.sortable
    if focusedNote.body
      li.body(contenteditable='true')
        if focusedNote.body
          | {{{focusedNoteBody}}}
        else
          |  
    if focusedNoteFiles
      .filesContainer
        each focusedNoteFiles
          +file
          
    if notesReady
      each notes
        +note
      li.newNote
        | Add a new note..
    else
      .wrapper-message
        .title-message {{_ 'notes.show.loading'}}
    +footer
