@import '{}/imports/ui/stylesheets/utils'

#notes
  list-style-type: none
  margin: 5em 0 0
  padding: 0
  width: 100%

  ol
    padding-left: 25px
    list-style: none

.page.notes-show
  .newNote
    color: black;
    margin: 0 2em;
    font-size: 1em;
    opacity: .5;

#preview
  position:absolute
  border:1px solid #ccc
  background:#333
  padding:5px
  display:none
  color:#fff
  max-width: 400px
  img
    width: 100%

select.list-edit
  @extend .font-m2
  position(absolute, 0,0,0,0)
  background: transparent
  opacity: 0 // allows the cog to appear

.options-web
  display: none

  .nav-item
    @extend .font-m3
    width: 2rem

    &:last-child { margin-right: .5rem; }

li.body
  margin: 1em
  color: black

// Hide & show options and nav icons
@media screen and (min-width: 40em) {
  .options-mobile { display: none; }
  .options-web {  display: block; }
}

.options-web
  display: none

  .nav-item
    @extend .font-m3;
    width: 2rem

    &:last-child
      margin-right: .5rem

.noNoteMessage
  text-align: center
  margin: 1em

.nav-group.right
  right: 0
  left: auto
  .nav-item
    font-size: 20px;
    line-height: 24px;
    color: #1c3f53;
    display: inline-block;
    height: 2rem;
    text-align: center;
    width: 2rem;
