template(name='notes')
  .row.mt.mb
    .col-md-12
      section.task-panel.tasks-widget
        .panel-heading
          .pull-left
            h4
              i.fa.fa-tasks
              +breadcrumbs
          br
        .panel-body
          .task-content
            h4 {{{focusedNoteTitle}}}
            ol#notes.task-list.selectable.sortable
              each notes
                +note
            div(class='note')
              .noteContainer
                .task-title
                  #new-note(class='title task-title-sp', contenteditable='true') {{newNoteText}}
