.noteTitle
  position: relative
  a
    cursor: pointer

.noteTitle:after
  width: 20px;
  height: 20px;
  position: absolute;
  content: "💾";
  top: 5px;
  right: 5px;
  transition: opacity .25s ease-in-out
  opacity: 0