template(name='exporter')
  .modal.fade(id="export", tabindex='-1', role='dialog', style='display: none;')
    .modal-dialog
      form.modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4#myModalLabel.modal-title Export
        .modal-body
          p Exporting can take a significant amount of time depending how many items you have.
          p Paste the below into Workflowy, or into another Note.d instance.
          textarea(rows='4',cols='40',class='form-control exportContent') Click 'Generate' Below
        .modal-footer
          input(type='submit',value='Generate',class='submit form-control btn btn-theme')
          button.btn.btn-sm(data-dismiss='modal') Cancel

