template(name="menu")
  span.mdl-layout-title
    a(href='/') BulletNotes.io
  if ready
    | Notes: {{totalNotes}} Limit: {{totalNotesAllowed}} Referrals: {{referralCount}}
    #spaceUsedBar.mdl-progress.mdl-js-progress
    nav.mdl-navigation
      if hideUndoButton
        button#undo.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect
          i.material-icons undo
        .mdl-tooltip.mdl-tooltip--large(for='undo')
          | Undo {{action undo}}

      if hideRedoButton
        button#redo.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect
          i.material-icons redo
        .mdl-tooltip.mdl-tooltip--large(for='redo')
          | Redo {{action redo}}

      if currentUser
        .buttonWrap
          button#menuPin.mdl-button.mdl-js-button.mdl-button--icon.mdl-js-ripple-effect.mdl-button--primary.mdl-button--raised(class="{{muteClass}}")
            i.material-icons {{menuPinIcon}}
          .mdl-tooltip.mdl-tooltip--large(for='menuPin')
            if menuPin
              | {{_ 'layouts.menu.unpinMenu'}}
            else
              | {{_ 'layouts.menu.pinMenu'}}
          button#mute.mdl-button.mdl-js-button.mdl-button--icon.mdl-js-ripple-effect.mdl-button--colored.mdl-button--raised(class="{{muteClass}}")
            i.material-icons {{muteIcon}}
          .mdl-tooltip.mdl-tooltip--large(for='mute')
            | Toggle Sounds
          button#recentMenu.mdl-button.mdl-js-button.mdl-button--icon.mdl-js-ripple-effect.mdl-button--colored.mdl-button--raised(class="{{muteClass}}")
            i.material-icons search
          .mdl-tooltip.mdl-tooltip--large(for='recentMenu')
            | Special Searches
        div.mdl-menu.mdl-menu--bottom-left.mdl-js-menu.mdl-js-ripple-effect(for='recentMenu')
          a.mdl-menu__item.recentLink(href='/search/last-changed%3a1h') {{_ 'layouts.appBody.lastHour'}}
          a.mdl-menu__item.recentLink(href='/search/last-changed%3a24h') {{_ 'layouts.appBody.lastDay'}}
          a.mdl-menu__item.recentLink(href='/search/not-viewed%3a1M') {{_ 'layouts.appBody.oldItems'}}

        button#userMenu.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--accent.mdl-button--raised
          i.material-icons account_box
          | {{displayName}}
        div.mdl-menu.mdl-menu--bottom-left.mdl-js-menu.mdl-js-ripple-effect(for='userMenu')
          a.mdl-menu__item.mdl-menu__item--full-bleed-divider(href='/settings') {{_ 'layouts.appBody.settings'}}
          a.mdl-menu__item.mdl-menu__item--full-bleed-divider(href='/account') {{_ 'layouts.appBody.account'}}
          if currentUser.isAdmin
            a.mdl-menu__item.mdl-menu__item--full-bleed-divider(href='/admin') {{_ 'layouts.appBody.admin'}}
          a.mdl-menu__item.js-logout {{_ 'layouts.appBody.logout'}}

      else
          a.login.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--accent.mdl-button--raised(href="{{pathFor 'signin'}}")
            | {{_ 'layouts.appBody.login'}}
          a.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--accent.mdl-button--raised(href="{{pathFor 'join'}}")
            | {{_ 'layouts.appBody.join'}}
    span.mdl-layout-title {{_ 'layouts.appBody.favorites'}}
    nav.mdl-navigation
      if notes.count
        each note in notes
          a.favoriteNote.mdl-navigation__link(href="{{pathFor 'Notes.show' noteId=note._id}}", class='{{activeNoteClass note}}', data-count="{{increment @index}}")
            | {{{ emoji note.title }}}
            span.hotkeyHint {{ increment @index }}
      else
        p(style="margin: 1em;color:white;")
          | No favorites yet, click the
          span.glyphicon.glyphicon-heart(style="font-size: .8em; margin: 0 .2em")
          | icon on some notes to the right.
