template(name='Notes_import')
  #import.mdl-card.mdl-shadow--2dp(style="width:500px;margin:0 auto;")
    form.importForm
      .mdl-card__title
        h2.mdl-card__title-text {{_ 'layouts.appBody.import'}}
      .mdl-card__supporting-text
        h4 BulletNotes
        p In BulletNotes, open the menu, click your username, open the settings page, click 'Export', wait and copy and paste the output here. Or paste in the contents of a Dropbox backup .txt file.
        h4 Workflowy
        p In Workflowy, click the down arrow in the top right, then 'Export All'. Select 'Plain Text', and copy and paste the results into the box below.
        h4 Dynalist
        p Coming soon..
        h4 Notice
        p Be aware this process can take a long time depending on how much you are importing. 5000 items takes up to 10 minutes.
        textarea.form-control
      .mdl-card__actions.mdl-card--border
        input.submit.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(type='submit')
