//@import "/imports/ui/stylesheets/not-found"

#main-content 
  margin-left: inherit !important


.header.black-bg 
  background-color: #3e0000
  a 
    color: white
    border-color: white !important
  
  .external a 
    color: black
  
  #login-buttons 
    margin: 1.5em
    #login-dropdown-list 
      right: 0px
      left: initial
    a 
      color: black
    .login-link-text
      color: white

  
  .settingsMenu 
    margin-top: 1em
  


#new-note 
  opacity: .6
  clear: left


/*--------------Tasks Widget--------------*/

.task-content 
    margin-bottom: 30px


.task-panel 
  background: #fff
  text-align: left
  box-shadow: 0px 3px 2px #aab2bd
  margin: 5px


.tasks-widget .task-content:after 
  clear: both


.tasks-widget .task-footer   
  margin-top: 5px


.tasks-widget .task-footer:after,
.tasks-widget .task-footer:before 
  content: ""
  display: table
  line-height: 0


.tasks-widget .task-footer:after 
  clear: both


.tasks-widget  .task-list 
  padding:0
  margin:0





@media only screen and (max-width: 320px) 

  .tasks-widget .task-config-btn 
    float:inherit
    display:block
  
  
  -projects .note > .label 
    margin-bottom:5px
  



.ui-sortable .note.list-primary 
    border-left: 3px solid #41CAC0


.ui-sortable .note.list-success 
    border-left: 3px solid #78CD51


.ui-sortable .note.list-danger 
    border-left: 3px solid #FF6C60


.ui-sortable .note.list-warning 
    border-left: 3px solid #F1C500


.ui-sortable .note.list-info 
    border-left: 3px solid #58C9F3


.ui-sortable .note.list-inverse 
    border-left: 3px solid #BEC3C7


.searchForm 
  float: left
  margin: 1em


.searchResult 
  font-weight: bold
  font-size: 1.2em
  color: #41CAC0


.ui-selecting 
  background: #FECA40
.ui-selected
  background: #F39814
  color: white 

ol.breadcrumb 
  display: inline



// Sortable
.placeholder 
  outline: 1px dashed #4183C4


.mjs-nestedSortable-error 
  background: #fbe3e4
  border-color: transparent


#tree 
  width: 550px
  margin: 0


.settingsMenu:hover > ul.dropdown-menu 
  display: block
  margin-top: -1em


ol.sortable,ol.sortable ol 
  list-style-type: none


li.mjs-nestedSortable-collapsed.mjs-nestedSortable-hovering div 
  border-color: #999


.disclose, .expandEditor 
  cursor: pointer
  width: 20px
  display: none


.sortable li.mjs-nestedSortable-collapsed > ol 
  display: none


.sortable li.mjs-nestedSortable-branch > div > .disclose 
  display: inline-block


.sortable span.ui-icon 
  display: inline-block
  margin: 0
  padding: 0


.clone 
  opacity: .5


#preview
  position:absolute
  border:1px solid #ccc
  background:#333
  padding:5px
  display:none
  color:#fff
  max-width: 300px
  img 
    width: 100%
  

#undo-redo 
  margin-top: .7em

#undo-redo button 
  width: 2.5em
  overflow: hidden


.fa.fa-undo, .fa.fa-repeat 
  margin-right: 5em
  float: left


#not-found 
  width: 700px
  margin: 0 auto
  .not-found-image 
    width: 25%
    float: left
  
  .not-found-title 
    width: 70%
    float: right
    background: url(/img/bg-footer.svg)
    background-repeat: no-repeat
    background-position: center
    background-size: contain
    min-height: 400px
    h1 
      font-size: 30px
      color: #1f2128
      margin-bottom: 20px
      margin-top: 155px
    
    a.gotohomepage 
      background-color: #de4f4f
      color: #fff
      width: 180px
      line-height: 40px
      display: block
      text-align: center
      font-size: 14px
      text-decoration: none
      text-transform: uppercase
      height: 40px
    
  

