.tag-center > .noteContainer   .title
    text-align: center
.tag-h1 > .noteContainer .title
    font-size: 2.25em !important
    font-weight: bold
.tag-h2 > .noteContainer  .title
    font-size: 2em !important
    font-weight: bold
.tag-h3 > .noteContainer  .title
    font-size: 1.75em !important
    font-weight: bold

.noteContainer.dragging
  border: dashed gray 1px

.note-item
  background: rgba(255,255,255,0.9)
  border-left: solid 4px #fff
  font-size: 12px
  padding: 0px
  position: relative
  margin-bottom: 2px
  border-bottom: none !important
  line-height: 1.75
  .mdl-badge.count
    margin-left: -1.5em;
    opacity: .7;

  .searchResult
    font-weight: bold
    font-size: 1.2em
    color: #41CAC0

  .favorite
    opacity: .1
    padding: .7em
    position: absolute
    right: 3em
    top: .7em
    cursor: pointer
    color: black
    transition: all 200ms ease-in;

  &.favorited
    .favorite
      opacity: 1
      color: #ff0072

  .handle
    cursor: move

  .hideContent, .showContent
    width: 101%;
    border-top: 1px solid gray;
    display: block;
    text-align: center;
    margin: 0.5em -3em -.5em -0.5em;
    color: #808080;
    opacity: 0.35;
    padding: .25em;

  .noteNumber
    display: none
    position: absolute
    color: #a7a7a7
    left: 1.5em
    font-size: 1.5em
    margin-top: -.25em

  .progress
    margin: 10px 0 0

  .noteContainer
    padding: 10px 0 10px 5px

  @media screen and (min-width: 40em)
    .options:hover > ul.dropdown-menu
      display: block
      top: 2.2em

  .title
    display: block
    font-size: 1.4em
    color: black
    min-width: 40%
    margin: -5px 5rem 0 3rem
    line-height: 1.75
  div.title:focus
      outline: none

  p
    margin: .5em .5em .5em 20px
    opacity: .8
    font-size: 1.2em
    color: black

  a
    cursor: pointer

  .thumb
    margin: -15px 0 0 25px

  .badge
    margin-right: .5em
    background: color-primary

  .dropdown-menu
    margin-top: -2px

@media screen and (min-width: 40em)
  .note .favorite:hover
    color: #f78a09
    opacity: .7

.favorited .favorite, .favorited .favorite:hover
    color: #f78a09
    opacity: 1

.tag-list ol
  .handle
    opacity: 0
  .noteNumber
    display: block

.note.shared .fa-ellipsis-v
  border-color: purple


.tagLink, .atLink
  border-width: 1px
  padding: .1em .25em
  border-radius: 10px
  border-style: solid
  box-shadow: 1px 1px 2px #8e8e8e

.tagLink:hover, .atLink:hover
  box-shadow: 2px 2px 3px #8e8e8e

.tag-white .noteContainer
  border-color: white
  background-color: white
.tag-red .noteContainer
  border-color: #FF2020
  background-color: rgba(255, 0, 0, 0.1)
.tag-orange .noteContainer
  border-color: #FFD8B5
  background-color: rgba(255, 216, 181, 0.22)
.tag-yellow .noteContainer
  border-color: #FFFAB5
  background-color: rgba(255, 250, 181, 0.22)
.tag-lime .noteContainer
  border-color: #E1FFB5
  background-color: rgba(225, 255, 181, 0.26)
.tag-olive .noteContainer
  border-color: #B5FFC9
  background-color: rgba(181, 255, 201, 0.25)
.tag-green .noteContainer
  border-color: #CCFFB5
  background-color: rgba(204, 255, 181, 0.24)
.tag-teal .noteContainer
  border-color: #B5FFD7
  background-color: rgba(181, 255, 215, 0.21)
.tag-aqua .noteContainer
  border-color: #B5FFFC
  background-color: rgba(181, 255, 252, 0.31)
.tag-blue .noteContainer
  border-color: #B5E8FF
  background-color: rgba(181, 232, 255, 0.2)
.tag-navy .noteContainer
  border-color: #3f34ff
  background-color: rgba(63, 52, 255, 0.15)
.tag-fuchia .noteContainer
  border-color: #F1B5FF
  background-color: rgba(241, 181, 255, 0.22)
.tag-purple .noteContainer
  border-color: #D3B5FF
  background-color: rgba(211, 181, 255, 0.25)
.tag-maroon .noteContainer
  border-color: #C08F8F
  background-color: rgba(192, 143, 143, 0.16)
.tag-silver .noteContainer
  border-color: silver
  background-color: rgba(192, 192, 192, 0.22)
.tag-gray .noteContainer
  border-color: gray
.tag-complete, .tag-done, .tag-finished
  .title
    text-decoration: line-through
    opacity: .5

#preview
  position:absolute
  border:1px solid #ccc
  background:#333
  padding:5px
  display:none
  color:#fff
  max-width: 400px
  img
    width: 100%

.note-item.shared
  .handle
    background: rgba(0, 128, 28, 0.16)

.note-item.noChildren
  .expand, .mdl-badge.count, .expand span
    opacity: 0
    cursor: default

.placeholder
  box-shadow: purple 0 0 5px 1px
  border: dashed gray 1px
  height 1em

#tagSearchPreview
  width: 500px
  li
    border-bottom: 1px solid lightgray
    color: black
    padding: 1em 1em
  li:last-child
    border-bottom: none
  .previewTagLink
    text-overflow: ellipsis
    overflow: hidden
  .tagLink
    display: inline
