template(name='note')
  div(class='note {{class}}', style='{{style}}')
    a.bullet(href='/note/{{this._id}}',class='{{bulletClass}}')
    a.expand(href='#') {{expand}}
    div(contenteditable='true',class='title') {{title}}
    p(contenteditable='true', style='{{bodyStyle}}') {{body}}
  each children
    +note
