template(name='note')
  li(class='{{className}}',id="menuItem_{{this._id}}")
    .noteContainer
      .options
        a.fa.fa-ellipsis-v(href='/note/{{this._id}}')
        ul.dropdown-menu
          li
            a.delete(href='#')
              i.fa.fa-trash-o
              |  Delete
        a.expand(href='#',class='btn btn-xs fa {{expandClass}}')
      .pull-right
        i.fa.fa-heart
        if this.children
          span.badge {{this.children}}
      .note-title
        div(class='title task-title-sp', contenteditable='true')
        if (progress)
          .progress.progress-striped
            .progress-bar(class='progress-bar-{{progressClass}}' role='progressbar', aria-valuenow='{{progress}}', aria-valuemin='0', aria-valuemax='100', style='width: {{progress}}%')
              span.sr-only {{progress}}% Complete (success)
        p.body(contenteditable='true',style='display:none')
    if children
      ol
        each children
          +note
