.note-item
  border-left: solid 4px #fff
  font-size: 12px
  padding: 0px
  position: relative
  margin-bottom: 2px
  border-bottom: none !important
  .favorite
    opacity: .1
  &.favorited
    .favorite
      opacity: 1
  .handle
    border-radius: 10px;
    padding: 0.35em;
    margin: -.35em;
    text-decoration: none;
  .progress 
    margin: 10px 0 0
  
  .noteContainer 
    padding: 10px 0 10px 35px
  
  .options:hover > ul.dropdown-menu 
    display: block
    top: 2.2em
  
  .expand 
    text-decoration: none
    font-weight: bold
    position: absolute
    top: 1em
    right: 4em
  
  .expand.fa-angle-up:hover,
  .expand.fa-angle-down:hover
  
    border: dashed 1px red
  
  .expand.collapsed 
    border: dashed 1px #777
  
  .fa.fa-ellipsis-v 
    position: absolute
    left: 5px
    padding: 4px 9px
    cursor: move
    border-radius: 10px
    border: dashed 1px rgba(255, 255, 255, 0)
  
  .fa-ellipsis-v:hover 
    //background-color: #ccc
    border: dashed 1px red
  
  .fa.fa-arrows 
    position: absolute
    left: 25px
  
  div.title 
    display: block
    font-size: 1.4em
    color: black
    min-width: 40%
    margin: -5px 0 0 20px
  
  div.title:focus 
      outline: none
  
  p 
    margin: .5em .5em .5em 20px
    opacity: .8
    font-size: 1.2em
    color: black
  
  a 
    cursor: pointer
  
  .fa-heart 
    margin: 0 1em
    opacity: 0
    cursor: pointer
    z-index: 10
    position: relative
  
  .thumb 
    margin: -15px 0 0 25px
  
  .badge 
    margin-right: 1em

.note-item.hasHiddenChildren
  .handle
    background-color: #d2d5ff

.note .fa-heart.hover 
    color: #f78a09
    opacity: .7

.note.favorite > .noteContainer .fa-heart, .note:hover.favorite > .noteContainer .fa-heart 
    color: #f78a09
    opacity: 1


.note.shared .fa-ellipsis-v 
  border-color: purple


.tagLink, .atLink
  border-width: 1px
  padding: .25em 
  border-radius: 10px
  border-style: solid
  box-shadow: 1px 1px 2px #8e8e8e

.tagLink:hover, .atLink:hover 
  box-shadow: 2px 2px 3px #8e8e8e

.tag-red
  border-color: #FF2020 
.tag-orange  
  border-color: #FFD8B5 
.tag-yellow  
  border-color: #FFFAB5 
.tag-lime  
  border-color: #E1FFB5 
.tag-olive  
  border-color: #B5FFC9 
.tag-green  
  border-color: #CCFFB5 
.tag-teal  
  border-color: #B5FFD7 
.tag-aqua  
  border-color: #B5FFFC 
.tag-blue  
  border-color: #B5E8FF 
.tag-navy  
  border-color: #B9B5FF 
.tag-fuchia  
  border-color: #F1B5FF 
.tag-purple  
  border-color: #D3B5FF 
.tag-maroon  
  border-color: #C08F8F 
.tag-silver  
  border-color: silver 
.tag-gray  
  border-color: gray 
.tag-complete, .tag-done, .tag-finished 
  .title 
    text-decoration: line-through
    opacity: .5
  
#preview
  position:absolute
  border:1px solid #ccc
  background:#333
  padding:5px
  display:none
  color:#fff
  max-width: 400px
  img 
    width: 100%


// .placeholder {
//   outline: 1px dashed #4183C4
// }

// .note-items .note-item {
//   .options, .badge {
//     margin: .75em;
//   }
//   .font-s2;

//   position: relative;
//   a.icon {
//     margin: 1em .1em;
//   }
//   .icon-arrow-down {
//     border: dotted 1px;
//     border-radius: 5px;
//   }

//   .checkbox {
//     flex: 0, 0, 44px;
//     cursor: pointer;
//   }
//   .title { flex: 1; }
//   .delete-item { flex: 0, 0, 3rem; }


//   // Style of list-item children
//   .title {
//     background: transparent;
//     padding: .75rem 0;
//     &:focus { cursor: text; }
//   }

//   .delete-item {
//     color: @color-medium-rare;
//     line-height: 3rem;
//     text-align: center;

//     &:hover { color: @color-primary; }
//     &:active { color: @color-well; }
//     .icon-trash { font-size: 1.1em; }
//   }


//   // Border between list items
//   & + .list-item { border-top: 1px solid #f0f9fb; }

//   // Checked
//   &.checked {
//     input[type="text"] {
//       color: @color-medium-rare;
//       text-decoration: line-through;
//     }

//     .delete-item { display: inline-block; }
//   }

//   // Editing
//   .delete-item { display: none; }
//   &.editing .delete-item { display: inline-block; }
// }