template(name='note')
  li.note-item(class='{{className}}',id="menuItem_{{_id}}",data-id="{{_id}}")
    .noteContainer
      .options.pull-left
        a(href='#',class='glyphicon expand {{expandClass}}')
        if currentUser
          if userOwnsNote
            a.handle.glyphicon.glyphicon-option-vertical(href='/note/{{_id}}')
          else
            a.handle.glyphicon.glyphicon-option-vertical(href='/note/{{_id}}/{{shareKey}}')
          ul.dropdown-menu
            li
              a.share(href='#', data-toggle='modal', data-target='#share_{{_id}}')
                i.glyphicon.glyphicon-share
                |  Share
            li
              a.duplicate(href='#')
                i.glyphicon.glyphicon-duplicate
                |  Duplicate
            //- li
              a.calendar(href='/calendar/{{_id}}')
                i.glyphicon.glyphicon-calendar
                |  Calendar
            li
              a.delete(href='#')
                i.glyphicon.glyphicon-trash
                |  Delete
            if this.inbox
              li.divider(role="separator")
              li
                a(href="javascript:function bninbox(){var d=document,z=d.createElement('scr'+'ipt'),b=d.body;try{if(!b)throw(0);d.title='(Saving...) '+d.title;z.setAttribute('src','http://localhost:3000/notes/inbox/'+encodeURIComponent(d.location.href)+'&t='+(new Date().getTime()));b.appendChild(z);}catch(e){alert('Please wait until the page has loaded.');}}bninbox();void(0)")
                  i.glyphicon.glyphicon-envelope
                  | Drag this link to your bookmarks to save pages to this list.
      .pull-right(class='{{favoriteClass}}')
        if currentUser
          i.glyphicon.glyphicon-heart.favorite
        if this.children
          span.badge {{this.children}}
      .note-title
        div(class='title task-title-sp', contenteditable='true') {{{title}}} {{progress}}
        if progress
          .progress.progress-striped(data-toggle="tooltip", data-placement="top", title="{{progress}}% Complete")
            .progress-bar(class='progress-bar-{{progressClass}}' role='progressbar', aria-valuenow='{{progress}}', aria-valuemin='0', aria-valuemax='100', style='width: {{progress}}%')
              span.sr-only {{progress}}% Complete (success)
        p.body(contenteditable='true',style='display:none')
          if body
            | {{body}}
          else
            |  
      if files
        .filesContainer
          each files
            +file
    +share
    if children
      ol
        each children
          +note
