template(name='note')
  li.note-item(class='{{className}}',id="menuItem_{{_id}}",data-id="{{_id}}")
    .noteContainer
      .options.pull-left
        //- span.noteNumber
        //-   | {{count}}
        if childNotes
          .expand.mdl-button.mdl-js-button.mdl-button--icon.mdl-js-ripple-effect.mdl-button--accent(id="expand_{{_id}}")
            i.material-icons remove
        else
          .expand.mdl-button.mdl-js-button.mdl-button--icon.mdl-js-ripple-effect(id="expand_{{_id}}")
            i.material-icons add
        if showMenu
          // Menu
          .mdl-menu.mdl-menu--bottom-left.mdl-js-menu.mdl-js-ripple-effect(id="menu_{{_id}}")
            a.share.mdl-menu__item(href='#', data-toggle='modal', data-target='#share_{{_id}}')
              i.glyphicon.glyphicon-share
              |  {{_ 'notes.menu.share'}}
            a.duplicate.mdl-menu__item(href='#')
              i.glyphicon.glyphicon-duplicate
              |  {{_ 'notes.menu.duplicate'}}
            a.calendar.mdl-menu__item(href='/calendar/{{_id}}')
              i.glyphicon.glyphicon-calendar
              |  {{_ 'notes.menu.calendar'}}
            a.kanban.mdl-menu__item(href='/kanban/{{_id}}')
              i.glyphicon.glyphicon-stats(style='transform:rotate(180deg)')
              |  {{_ 'notes.menu.kanban'}}
            a.delete.mdl-menu__item(href='#')
              i.glyphicon.glyphicon-trash
              |  {{_ 'notes.menu.delete'}}
            if inbox
              li.mdl-menu__item
                a(href="javascript:function bninbox(){var d=document,z=d.createElement('scr'+'ipt'),b=d.body;try{if(!b)throw(0);d.title='(Saving...) '+d.title;z.setAttribute('src','http://localhost:3000/notes/inbox/'+encodeURIComponent(d.location.href)+'&t='+(new Date().getTime()));b.appendChild(z);}catch(e){alert('Please wait until the page has loaded.');}}bninbox();void(0)")
                  i.glyphicon.glyphicon-envelope
                  | Drag this link to your bookmarks to save pages to this list.

        // Handle
        .handle.mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect.hasChildren
          i.material-icons(id="drag_{{_id}}") fiber_manual_record
        .mdl-tooltip.mdl-tooltip--large.mdl-tooltip--right(for='drag_{{_id}}')
          | {{_ 'notes.tooltips.drag'}}

      //- .favorite.mdl-button.mdl-button--icon.mdl-js-ripple-effect(id='favorite_{{_id}}' class='{{favoriteClass}}')
      //-   i.material-icons favorite
      //- .mdl-tooltip.mdl-tooltip--large.mdl-tooltip--left(for='favorite_{{_id}}')
      //-   | {{_ 'notes.tooltips.favorite'}}

      .note-title
        div(class='title task-title-sp', contenteditable='true') {{{title}}}
        if showContent
          if progress
            .progress.progress-striped(data-toggle="tooltip", data-placement="top", title="{{progress}}% Complete")
              .progress-bar(class='progress-bar-{{progressClass}}' role='progressbar', aria-valuenow='{{progress}}', aria-valuemin='0', aria-valuemax='100', style='width: {{progress}}%')
                span.sr-only {{progress}}% Complete (success)
          p.body(contenteditable='true')
            if body
              | {{body}}
            else
              |  
      if showContent
        if hasContent
          input.fileInput(type='file',style='display:none')
          if files
            .filesContainer
              each files
                +file
          a.hideContent(id="hideContent_{{_id}}")
            i.glyphicon.glyphicon-chevron-up
          .mdl-tooltip.mdl-tooltip--large(for='hideContent_{{_id}}')
            | {{_ 'notes.tooltips.hide_content'}}
      else
        if hasContent
          a.showContent(id="showContent_{{_id}}")
            i.glyphicon.glyphicon-chevron-down
          .mdl-tooltip.mdl-tooltip--large(for='showContent_{{_id}}')
            | {{_ 'notes.tooltips.show_content'}}
      //- +share
      if childNotes
        ol
          each childNotes
            +note
