.tag-center > .noteContainer .title
    text-align: center
.tag-h1 > .noteContainer .title
    font-size: 2.25em !important
    font-weight: bold
.tag-h2 > .noteContainer .title
    font-size: 2em !important
    font-weight: bold
.tag-h3 > .noteContainer .title
    font-size: 1.75em !important
    font-weight: bold

.title,
[contenteditable] {
    -webkit-user-select: text;
    user-select: text;
}

.noteContainer.dragging
  border: dashed gray 1px

.note-item
  border-left: solid 4px rgba(0,0,0,0)
  border-right: solid 4px rgba(0,0,0,0)
  padding: 0px
  position: relative
  margin-bottom: 2px
  border-bottom: none !important
  line-height: 1.75
  clear: both

  .options
    margin: -6px 1em 0 0

  .mdl-badge.count
    margin-left: -1.5em;
    opacity: .7;

  .searchResult
    font-weight: bold
    font-size: 1.2em
    color: #41CAC0

  .mdl-button--colored.favorite
      opacity: 1

  .body
    margin-left: 5em

  .dot
    cursor: move

  .hideContent, .showContent
    width: 101%;
    border-top: 1px solid gray;
    display: block;
    text-align: center;
    margin: 0.5em -3em -.5em -0.5em;
    color: #808080;
    opacity: 0.35;
    padding: .25em;

  .noteNumber
    display: none
    position: absolute
    color: #a7a7a7
    left: 1.5em
    font-size: 1.5em
    margin-top: -.25em

  .progress
    margin: 10px 0 0
    height: 10px

  .noteContainer
    padding: 5px 0 5px 5px
    border-left: solid 4px rgba(0,0,0,0)
    border-right: solid 4px rgba(0,0,0,0)


  .title
    display: block
    color: black
    min-width: 40%
    min-height: 1.5em
    margin: -5px 0 0 7rem
    
  div.title:focus
      outline: none

  p
    margin: .5em .5em .5em 20px
    opacity: .8
    font-size: 1.2em
    color: black

  a
    cursor: pointer

  .thumb
    margin: -15px 0 0 25px

  .badge
    margin-right: .5em
    background: color-primary

  .dropdown-menu
    margin-top: -2px

.note.focused > .noteContainer .title
  box-shadow: 0 0 10px rgba(0,0,255,.6)

.note.hasHiddenChildren
  .dot
    border: solid #999 2px;

.note .mdl-button--icon
  height: 1em
  min-width: 1em
  width: 1em
  .material-icons
    font-size: .6em

.note-item.encrypted
  .encryptedTitle
    color: #aaa

.note-item.encrypted, .note-item.encryptedRoot
  .encryptedIcon
    float: left
    margin-right: 1em
    color: green
    z-index: 1000
    cursor: pointer

// Large screens
@media screen and (min-width: 40em)
  .note
    transition: all .2s ease-in-out;
    .expand
      opacity: 0
    .title, .encryptedTitle
      margin: -5px 5rem 0 7rem
  .note .expand, .note .menuToggle
    opacity: 0
  .note.hasChildren .noteContainer:hover
    > .options > .expand, > .options > .menuToggle
      opacity: 1
  .note .noteContainer:hover
    > .options > .menuToggle
      opacity: 1


  .note .favorite:hover
    color: rgb(255,87,34)
    opacity: .7

.note .favorite.mdl-button--colored, .mdl-button--colored.favorite:hover
    color: rgb(255,87,34)
    opacity: 1 !important

.tag-list ol
  .dot
    opacity: 0
  .noteNumber
    display: block

.note.shared .fa-ellipsis-v
  border-color: purple


.tagLink, .atLink
  border-width: 1px
  padding: .1em .25em
  border-radius: 10px
  border-style: solid
  box-shadow: 1px 1px 2px #8e8e8e

.tagLink:hover, .atLink:hover
  box-shadow: 2px 2px 3px #8e8e8e

.tag-white
  border-color: white
  background-color: white
.tag-red
  border-color: #FF2020
  background-color: rgba(255, 0, 0, 0.4)
.tag-orange
  border-color: #FFD8B5
  background-color: rgba(255, 216, 181, 0.7)
.tag-yellow
  border-color: #FFFAB5
  background-color: rgba(255, 250, 181, 0.7)
.tag-lime
  border-color: #E1FFB5
  background-color: rgba(225, 255, 181, 0.7)
.tag-olive
  border-color: #B5FFC9
  background-color: rgba(181, 255, 201, 0.7)
.tag-green
  border-color: #CCFFB5
  background-color: rgba(204, 255, 181, 0.7)
.tag-teal
  border-color: #B5FFD7
  background-color: rgba(181, 255, 215, 0.7)
.tag-aqua
  border-color: #B5FFFC
  background-color: rgba(181, 255, 252, 0.7)
.tag-blue
  border-color: #B5E8FF
  background-color: rgba(181, 232, 255, 0.7)
.tag-navy
  border-color: #3f34ff
  background-color: rgba(63, 52, 255, 0.4)
.tag-fuchia
  border-color: #F1B5FF
  background-color: rgba(241, 181, 255, 0.7)
.tag-purple
  border-color: #D3B5FF
  background-color: rgba(211, 181, 255, 0.7)
.tag-maroon
  border-color: #C08F8F
  background-color: rgba(192, 143, 143, 0.7)
.tag-silver
  border-color: silver
  background-color: rgba(192, 192, 192, 0.7)
.tag-gray
  border-color: gray
.tag-complete > .noteContainer, .tag-done > .noteContainer, .tag-finished > .noteContainer
  .title
    text-decoration: line-through
    opacity: .5

#preview
  position: fixed
  border:1px solid #ccc
  background:#333
  padding:5px
  display:none
  color:#fff
  max-width: 400px
  z-index: 100
  img
    width: 100%

.note-item.shared
  .dot
    background: rgba(0, 128, 28, 0.16)

.placeholder
  box-shadow: purple 0 0 5px 1px
  border: dashed gray 1px
  height 50px

#tagSearchPreview
  width: 500px
  position: fixed
  li
    border-bottom: 1px solid lightgray
    color: black
    padding: 1em 1em
  li:last-child
    border-bottom: none
  .previewTagLink
    text-overflow: ellipsis
    overflow: hidden
  .tagLink
    display: inline

.modal.encrypt
  margin-top: 10em

.openEncrypt
  display: none

div.pass-container 
    height: 30px;

div.pass-bar 
    height: 11px;
    margin-top: 2px;
div.pass-hint 
    font-family: arial;
    font-size: 11px;

.previewTagViewAll
  opacity: .5
  font-style: italic
  text-align: center

.note-item.favorite > .noteContainer
  .dot
    background-color: rgba(255, 62, 157, 0.5)