template(name='note')
  li.note-item(class='{{className}}',id="menuItem_{{_id}}",data-id="{{_id}}")
    .noteContainer
      .options.pull-left
        span.noteNumber
          | {{count}}
        label.expand.mdl-icon-toggle.mdl-js-icon-toggle.mdl-js-ripple-effect(for='icon-toggle-2')
          input#icon-toggle-2.mdl-icon-toggle__input(type='checkbox')
          i.mdl-icon-toggle__label.material-icons {{expandClass}}
        span.mdl-badge.count(data-badge="{{childCount}}")
          | &nbsp;

        if currentUser
          button.mdl-button.mdl-js-button.mdl-button--icon(id="menu{{_id}}")
            i.material-icons more_vert
          if userOwnsNote
            a.handle.mdl-button.mdl-js-button.mdl-button--icon(href='/note/{{_id}}')
              i.material-icons zoom_out_map
          else
            a.handle.mdl-button.mdl-js-button.mdl-button--icon(href='/note/{{_id}}/{{shareKey}}')
              i.material-icons zoom_out_map
              

          ul.mdl-menu.mdl-menu--bottom-left.mdl-js-menu.mdl-js-ripple-effect(for="menu{{_id}}")
            li.mdl-menu__item
              a.share(href='#', data-toggle='modal', data-target='#share_{{_id}}')
                i.glyphicon.glyphicon-share
                |  Share
            li.mdl-menu__item
              a.duplicate(href='#')
                i.glyphicon.glyphicon-duplicate
                |  Duplicate
            li.mdl-menu__item
              a.calendar(href='/calendar/{{_id}}')
                i.glyphicon.glyphicon-calendar
                |  Calendar
            li.mdl-menu__item
              a.kanban(href='/kanban/{{_id}}')
                i.glyphicon.glyphicon-stats(style='transform:rotate(180deg)')
                |  Kanban
            li.mdl-menu__item
              a.delete(href='#')
                i.glyphicon.glyphicon-trash
                |  Delete
            if inbox
              li.mdl-menu__item
                a(href="javascript:function bninbox(){var d=document,z=d.createElement('scr'+'ipt'),b=d.body;try{if(!b)throw(0);d.title='(Saving...) '+d.title;z.setAttribute('src','http://localhost:3000/notes/inbox/'+encodeURIComponent(d.location.href)+'&t='+(new Date().getTime()));b.appendChild(z);}catch(e){alert('Please wait until the page has loaded.');}}bninbox();void(0)")
                  i.glyphicon.glyphicon-envelope
                  | Drag this link to your bookmarks to save pages to this list.

      .note-title
        div(class='title task-title-sp', contenteditable='true') {{{title}}}
        if showContent
          if progress
            .progress.progress-striped(data-toggle="tooltip", data-placement="top", title="{{progress}}% Complete")
              .progress-bar(class='progress-bar-{{progressClass}}' role='progressbar', aria-valuenow='{{progress}}', aria-valuemin='0', aria-valuemax='100', style='width: {{progress}}%')
                span.sr-only {{progress}}% Complete (success)
          p.body(contenteditable='true')
            if body
              | {{body}}
            else
              |  
      if showContent
        input.fileInput(type='file',style='display:none')
        if files
          .filesContainer
            each files
              +file
        a.hideContent
          i.glyphicon.glyphicon-chevron-up
      else
        if hasContent
          a.showContent
            i.glyphicon.glyphicon-chevron-down
    +share
    if childNotes
      ol
        each childNotes
          +note
