template(name='note')
  .note-item(style='{{style}}')
    a(href='#',class='icon expand {{expandClass}}')
    a(href='/note/{{this._id}}', class='icon icon-plus')
    .title(contenteditable='true') {{{this.title}}}
    a.js-delete-item.delete-item(href='#')
      span.icon-trash
    +each children
      +note
