template(name='note')
  li.note-item(class='{{className}}',id="menuItem_{{_id}}",data-id="{{_id}}")
    .noteContainer
      .options.pull-left
        if childNotes
          .expand.mdl-button.mdl-button--icon.mdl-button--accent(id="expand_{{_id}}")
            i.material-icons remove
        else
          .expand.mdl-button.mdl-button--icon(id="expand_{{_id}}")
            i.material-icons add
        .menuToggle.mdl-button.mdl-button--icon.hasChildren
          i.material-icons(id="drag_{{_id}}") menu
        if showMenu
          // Menu
          .mdl-menu.mdl-menu--bottom-left.mdl-js-menu(id="menu_{{_id}}")
            a.zoom.mdl-menu__item(href='#', data-toggle='modal', data-target='#zoom_{{_id}}')
              i.glyphicon.glyphicon-search
              |  {{_ 'notes.menu.zoom'}}
            a.addBody.mdl-menu__item(href='#', data-toggle='modal', data-target='#zoom_{{_id}}')
              i.glyphicon.glyphicon-info-sign
              |  {{_ 'notes.menu.addBody'}}
            if favorite
              a.unfavorite.mdl-menu__item(href='#', data-toggle='modal', data-target='#zoom_{{_id}}')
                i.glyphicon.glyphicon-heart-empty
                |  {{_ 'notes.menu.unfavorite'}}
            else
              a.favorite.mdl-menu__item(href='#', data-toggle='modal', data-target='#zoom_{{_id}}')
                i.glyphicon.glyphicon-heart
                |  {{_ 'notes.menu.favorite'}}
            //- a.share.mdl-menu__item(href='#', data-toggle='modal', data-target='#share_{{_id}}')
            //-   i.glyphicon.glyphicon-share
            //-   |  {{_ 'notes.menu.share'}}
            a.duplicate.mdl-menu__item(href='#')
              i.glyphicon.glyphicon-duplicate
              |  {{_ 'notes.menu.duplicate'}}
            if displayEncrypted
              a.decryptLink.mdl-menu__item(href='#')
                i.glyphicon.glyphicon-eye-open
                |  {{_ 'notes.menu.decrypt'}}
            else
              a.encryptLink.mdl-menu__item(href='#')
                i.glyphicon.glyphicon-eye-close
                |  {{_ 'notes.menu.encrypt'}}
            //- a.calendar.mdl-menu__item(href='/calendar/{{_id}}')
            //-   i.glyphicon.glyphicon-calendar
            //-   |  {{_ 'notes.menu.calendar'}}
            //- a.kanban.mdl-menu__item(href='/kanban/{{_id}}')
            //-   i.glyphicon.glyphicon-stats(style='transform:rotate(180deg)')
            //-   |  {{_ 'notes.menu.kanban'}}
            a.delete.mdl-menu__item(href='#')
              i.glyphicon.glyphicon-trash
              |  {{_ 'notes.menu.delete'}}
            //if inbox
              li.mdl-menu__item
                a(href="javascript:function bninbox(){var d=document,z=d.createElement('scr'+'ipt'),b=d.body;try{if(!b)throw(0);d.title='(Saving...) '+d.title;z.setAttribute('src','http://localhost:3000/notes/inbox/'+encodeURIComponent(d.location.href)+'&t='+(new Date().getTime()));b.appendChild(z);}catch(e){alert('Please wait until the page has loaded.');}}bninbox();void(0)")
                  i.glyphicon.glyphicon-envelope
                  | Drag this link to your bookmarks to save pages to this list.

        // Handle
        .dot.mdl-button.mdl-button--icon.hasChildren(title="{{hoverInfo}}")
          i.material-icons.zoom(id="drag_{{_id}}") fiber_manual_record

      .note-title
        if encryptedRoot
          i.glyphicon.glyphicon-eye-close.encryptedIcon(title='This note is encrypted')
        if displayEncrypted
          div(class='encryptedTitle') {{{title}}}
        else
          div(class='title task-title-sp', contenteditable='true') {{{title}}} 
        if progress
          .progress.progress-striped(data-toggle="tooltip", data-placement="top", title="{{progress}}% Complete", data-original-title="{{progress}}% Complete")
            .progress-bar(class='progress-bar-{{progressClass}}' role='progressbar', aria-valuenow='{{progress}}', aria-valuemin='0', aria-valuemax='100', style='width: {{progress}}%')
              span.sr-only {{progress}}% Complete (success)
        if showContent
          p.body(contenteditable='true')
            if body
              | {{body}}
            else
              |  
      //- if showContent
        if hasContent
          input.fileInput(type='file',style='display:none')
          if files
            .filesContainer
              each files
                +file
          a.hideContent(id="hideContent_{{_id}}")
            i.glyphicon.glyphicon-chevron-up
          .mdl-tooltip.mdl-tooltip--large(for='hideContent_{{_id}}')
            | {{_ 'notes.tooltips.hide_content'}}
      //- else
        if hasContent
          a.showContent(id="showContent_{{_id}}")
            i.glyphicon.glyphicon-chevron-down
          .mdl-tooltip.mdl-tooltip--large(for='showContent_{{_id}}')
            | {{_ 'notes.tooltips.show_content'}}
      //- +share
      if showEncrypt
        +encrypt


    if childNotes
      ol
        each childNotes
          +note
