template(name='note')
  div(class='note {{class}}', style='{{style}}')
    i.fa.fa-ellipsis-v
    .task-title
      if (isEditing)
        input(class='title-edit form-control' value='{{title}}')
      else
        div(class='title task-title-sp', contenteditable='true') {{{displayTitle}}}
      .pull-right
        a.expand(href='#',class='btn btn-xs fa {{expandClass}}')
        a.bullet.btn.btn-success.btn-xs.fa.fa-search-plus(href='/note/{{this._id}}',class='{{bulletClass}}')
        button.btn.btn-primary.btn-xs.fa.fa-pencil
        button.btn.btn-danger.btn-xs.fa.fa-trash-o
      if (displayBody)
        p.body(contenteditable='true') {{{displayBody}}}
  each children
    +note
