template(name='App_body')
  +HammerTouchArea(gestureMap=templateGestures)
    #container(class='{{menuOpen}} {{wrapClasses}}')
      +momentum(plugin="fade")
        if ready
          section#menu
            .language-toggle
              each language in languages
                if isActiveLanguage language
                  span.active {{language}}
                else
                  a.js-toggle-language(href='#') {{language}}
            +undoRedoButtons
            if currentUser
              .btns-group-vertical
                a.js-user-menu.btn-secondary(href='#')
                  if userMenuOpen
                    span.glyphicon.glyphicon-chevron-up
                  else
                    span.glyphicon.glyphicon-chevron-down
                  | {{displayName}}
                if userMenuOpen
                  a.btn-secondary(href='/settings') {{_ 'layouts.appBody.settings'}}
                  a.btn-secondary(href='/search/last-changed%3a1h') {{_ 'layouts.appBody.lastHour'}}
                  a.btn-secondary(href='/search/last-changed%3a24h') {{_ 'layouts.appBody.lastDay'}}
                  a.btn-secondary(href='/search/not-changed%3a1M') {{_ 'layouts.appBody.oldItems'}}
                  a.js-logout.btn-secondary {{_ 'layouts.appBody.logout'}}
            else
              .btns-group
                a.btn-secondary(href="{{pathFor 'signin'}}")
                  | {{_ 'layouts.appBody.login'}}
                a.btn-secondary(href="{{pathFor 'join'}}")
                  | {{_ 'layouts.appBody.join'}}
            form.searchForm
              input.search(placeholder='Search...')
              submit(style='visibility:hidden')
            .parentNotes
              h4
                a(href='/') Home
              h4 Favorites
              if notes.count
                each note in notes
                  a.parentNote(href="{{pathFor 'Notes.show' noteId=note._id}}", title='{{note.name}}', class='{{activeNoteClass note}}')
                    | {{{note.title}}}
              else
                | No favorites yet, click the icon on some notes to the right.

      +unless connected
        .notifications
          .notification
            span.glyphicon.glyphicon-refresh.glyphicon-spin
            .meta
              .title-notification
                | {{_ 'layouts.appBody.tryingToConnect'}}
              .description
                | {{_ 'layouts.appBody.connectionIssue'}}
      if dev
        .notifications.devWarning
          .notification
            span.glyphicon.glyphicon-warning-sign
            .meta
              .title-notification
                | {{_ 'layouts.appBody.devWarning'}}
              .description
                | {{_ 'layouts.appBody.devWarningBody'}}
      else
        .notifications.betaWarning
          .notification
            span.glyphicon.glyphicon-warning-sign
            .meta
              .title-notification
                | {{_ 'layouts.appBody.devWarning'}}
              .description
                | {{{_ 'layouts.appBody.betaWarningBody'}}}
      +momentum(plugin="fade")
        if ready
          .nav-group(class='{{expandClass}}')
            a.js-menu.nav-item(href='#')
              span.glyphicon.glyphicon-menu-right
      .content-overlay
      #content-container
        +momentum plugin="fade"
          if ready
            +Template.dynamic(template=main)
          else
            +App_loading
