template(name='App_body')
  +HammerTouchArea(gestureMap=templateGestures)
    #container(class='{{menuOpen}} {{wrapClasses}}')
      +momentum(plugin="fade")
        if ready
          section#menu
            a.help(href='http://www.bulletnotes.io/note/gPQcYmjmqwfnHeTWE/GjT4R6pMFA')
              .glyphicon.glyphicon-question-sign
            .language-toggle
              each language in languages
                if isActiveLanguage language
                  span.active {{language}}
                else
                  a.js-toggle-language(href='#') {{language}}
            +undoRedoButtons
            if currentUser
              .btns-group-vertical
                a.userMenu.btn-secondary(href='#')
                  if userMenuOpen
                    span.glyphicon.glyphicon-chevron-up
                  else
                    span.glyphicon.glyphicon-chevron-down
                  | {{displayName}}
                if userMenuOpen
                  a.btn-secondary(href='/settings') {{_ 'layouts.appBody.settings'}}
                  a.js-logout.btn-secondary {{_ 'layouts.appBody.logout'}}

                a.recentMenu.btn-secondary(href='#')
                  if recentMenuOpen
                    span.glyphicon.glyphicon-chevron-up
                  else
                    span.glyphicon.glyphicon-chevron-down
                  | {{_ 'layouts.appBody.recent'}}
                if recentMenuOpen
                  a.btn-secondary(href='/search/last-changed%3a1h') {{_ 'layouts.appBody.lastHour'}}
                  a.btn-secondary(href='/search/last-changed%3a24h') {{_ 'layouts.appBody.lastDay'}}
                  a.btn-secondary(href='/search/not-changed%3a1M') {{_ 'layouts.appBody.oldItems'}}
            else
              .btns-group
                a.btn-secondary(href="{{pathFor 'signin'}}")
                  | {{_ 'layouts.appBody.login'}}
                a.btn-secondary(href="{{pathFor 'join'}}")
                  | {{_ 'layouts.appBody.join'}}
            form#searchForm
              span.glyphicon.glyphicon-search
              input.search.form-control(placeholder="{{_ 'layouts.appBody.search'}}...")
              submit(style='visibility:hidden')
            #favoriteNotes
              a.homeLink(href='/') {{_ 'layouts.appBody.home'}}
              h4 {{_ 'layouts.appBody.favorites'}}
              if notes.count
                ul
                each note in notes
                  li
                    a.favoriteNote(href="{{pathFor 'Notes.show' noteId=note._id}}", class='{{activeNoteClass note}}', data-count="{{increment @index}}")
                      | {{{note.title}}}
                    span.hotkeyHint {{increment @index}}
              else
                p(style="margin: 1em;color:white;")
                  | No favorites yet, click the
                  span.glyphicon.glyphicon-heart(style="font-size: .8em; margin: 0 .2em")
                  | icon on some notes to the right.

      +unless connected
        .notifications
          .notification
            span.glyphicon.glyphicon-refresh.glyphicon-spin
            .meta
              .title-notification
                | {{_ 'layouts.appBody.tryingToConnect'}}
              .description
                | {{_ 'layouts.appBody.connectionIssue'}}
      if dev
        .notifications.devWarning
          .notification
            span.glyphicon.glyphicon-warning-sign
            .meta
              .title-notification
                | {{_ 'layouts.appBody.devWarning'}}
              .description
                | {{_ 'layouts.appBody.devWarningBody'}}
      else
        .notifications.betaWarning
          .notification
            span.glyphicon.glyphicon-warning-sign
            .meta
              .title-notification
                | {{_ 'layouts.appBody.devWarning'}}
              .description
                | {{{_ 'layouts.appBody.betaWarningBody'}}}
      +momentum(plugin="fade")
        if ready
          .nav-group(class='{{expandClass}}')
            a.js-menu.nav-item(href='#')
              span.glyphicon.glyphicon-menu-right
      .content-overlay
      #content-container
        +momentum plugin="fade"
          if ready
            +Template.dynamic(template=main)
          else
            +App_loading
