template(name='App_body')
  +HammerTouchArea(gestureMap=templateGestures)
    #container(class='{{menuOpen}} {{wrapClasses}}')
      +momentum(plugin="fade")
        .mdl-layout.mdl-js-layout
          if ready
            .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
              header.mdl-layout__header.mdl-layout__header--waterfall
                .mdl-layout__header-row
                  // Title
                  span.mdl-layout-title
                    .js-edit-note.title-page
                      if focusedNote
                        .title-wrapper(contenteditable='true') {{{focusedNoteTitle}}}
                      else if searchTerm
                        .title-wrapper(style='opacity:.5;cursor:default') Searching: {{ searchTerm }}
                      else
                        .title-wrapper(style='opacity:.5;cursor:default') BulletNotes.io
                        span.count-note.pull-right {{childNoteCount}}
                  .mdl-layout-spacer
                  .mdl-textfield.mdl-js-textfield.mdl-textfield--expandable.mdl-textfield--floating-label.mdl-textfield--align-right
                    label.mdl-button.mdl-js-button.mdl-button--icon(for='waterfall-exp')
                      i.material-icons search
                    .mdl-textfield__expandable-holder
                      input#waterfall-exp.mdl-textfield__input.search(placeholder="{{_ 'layouts.appBody.search'}}...")

                // Tabs
                .mdl-layout__tab-bar.mdl-js-ripple-effect
                  +breadcrumbs (noteArgs focusedNoteId)
              .mdl-layout__drawer
                +menu
              main.mdl-layout__content
                if ready
                  +Template.dynamic(template=main)
                  +footer
                else
                  +App_loading

      +unless connected
        .notifications
          .notification
            span.glyphicon.glyphicon-refresh.glyphicon-spin
            .meta
              .title-notification
                | {{_ 'layouts.appBody.tryingToConnect'}}
              .description
                | {{_ 'layouts.appBody.connectionIssue'}}
      if dev
        .notifications.devWarning
          .notification
            span.glyphicon.glyphicon-warning-sign
            .meta
              .title-notification
                | {{_ 'layouts.appBody.devWarning'}}
              .description
                | {{_ 'layouts.appBody.devWarningBody'}}
      else
        .notifications.betaWarning
          .notification
            span.glyphicon.glyphicon-warning-sign
            .meta
              .title-notification
                | {{_ 'layouts.appBody.devWarning'}}
              .description
                | {{{_ 'layouts.appBody.betaWarningBody'}}}
