template(name='moveTo')
  a.openMoveTo(href='#', data-toggle='modal', data-target='#moveTo_{{_id}}', data-id='{{_id}}', id='toggleMoveTo_{{_id}}') open

  .modal.fade(id="moveTo_{{_id}}", tabindex='-1', role='dialog')
    .modal-dialog
      form.modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4#myModalLabel.modal-title Move Note
        .modal-body
            p Begin typing to search for a note to nest this note underneath. The note in black text with the blue underline is the note being selected. The grayed out note is that note's parent note, for reference. Use the up and down arrow keys to select a note, and press enter when the when you want is highlighted.
            {{> inputAutocomplete settings=settings class="moveToInput input-xlarge" placeholder="Select a note to move this note under.." size="40"}}
        .modal-footer
          button.btn.btn-sm(data-dismiss='modal') Cancel

template(name="notePill")
  span.moveToResult.mdl-layout__tab {{parentTitle}}
  span.moveToResult.mdl-layout__tab.is-active {{shortTitle}}
