.moveToResult
  font-size: .9em
  color: gray

.moveToResult.is-active
  color: black !important

.moveToInput
  width: 100%

.-autocomplete-item
  overflow: hidden
  
.-autocomplete-item.selected
	background: #555