template(name='settings')
  .modal.fade(id="settings", tabindex='-1', role='dialog', style='display: none;')
    .modal-dialog
      form.modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4#myModalLabel.modal-title Settings
        .modal-body
            h4 Dropbox
            p You can link your Dropbox account for a nightly backup. Each backup file can be imported straight into Workflowy, or a new Noted instance.
            if dropbox_token
              a#deauthlink.button Un-link
            else
              a#authlink.button Authenticate
        .modal-footer
          button.btn.btn-sm(data-dismiss='modal') Cancel
