template(name='settings')
  .modal.fade(id="settings", tabindex='-1', role='dialog', style='display: none;')
    .modal-dialog
      form.modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4#myModalLabel.modal-title Settings
        .modal-body
            h4 Import
            a#importLink.form-control.btn.btn-theme(href='#', data-toggle='modal', data-target='#import') Import
            h4 Export
            a#exportlink.form-control.btn.btn-theme(href='#', data-toggle='modal', data-target='#export') Export
            h4 Dropbox
            p You can link your Dropbox account for a nightly backup. Each backup file can be imported straight into another instance of BulletNotes, or into something like Workflowy.
            if dropbox_token
              a#deauthlink.form-control.btn.btn-theme Unlink Dropbox Account
            else
              a#authlink.form-control.btn.btn-theme Authenticate with Dropbox
        .modal-footer
          button.btn.btn-sm(data-dismiss='modal') Cancel
  +importer
  +exporter
