template(name='Notes_show_page')
  +if noteIdArray
      .page.notes-show
        ol#tagSearchPreview.dropdown-menu
        if progress
          .progress.progress-striped(data-toggle="tooltip", data-placement="top", title="{{progress}}% Complete")
            .progress-bar(class='progress-bar-{{progressClass}}' role='progressbar', aria-valuenow='{{progress}}', aria-valuemin='0', aria-valuemax='100', style='width: {{progress}}%')
              span.sr-only {{progress}}% Complete (success)
        +each noteId in noteIdArray
          +momentum(plugin="right-to-left")
            if showNotes
              +bulletNotes (noteArgs noteId)
            if showKanban
              +kanban (noteArgs noteId)
            if showCalendar
              +calendar (noteArgs noteId)
          if showMap
            +map (noteArgs noteId)
  +else
    +App_notFound
