template(name='footer')
  footer.mdl-mega-footer
    .mdl-mega-footer__middle-section
      .mdl-mega-footer__drop-down-section
        input.mdl-mega-footer__heading-checkbox(type='checkbox', checked='')
        h1.mdl-mega-footer__heading {{_ 'layouts.appBody.help'}}
        ul.mdl-mega-footer__link-list
          li
            a(href='http://bulletnotes.io/note/gPQcYmjmqwfnHeTWE/GjT4R6pMFA') User Guide
          li
            a(href='https://github.com/NickBusey/BulletNotes',target='_blank') GitHub
          li
            a(href='https://github.com/NickBusey/BulletNotes/issues',target='_blank') Support
      .mdl-mega-footer__drop-down-section
        input.mdl-mega-footer__heading-checkbox(type='checkbox', checked='')
        h1.mdl-mega-footer__heading {{_ 'layouts.appBody.about'}}
        ul.mdl-mega-footer__link-list
          li
            a(href='/pricing') {{_ 'layouts.appBody.pricing'}}

    .mdl-mega-footer__bottom-section
      .mdl-logo BulletNotes
      ul.mdl-mega-footer__link-list
        li
          | {{year}}
        li
          span#version
        li
          | created by
          a(href='https://github.com/NickBusey',target='_blank') Nick Busey
