template(name='footer')
  footer.mdl-mini-footer
    .mdl-mini-footer__left-section
      .mdl-logo BulletNotes.io
      ul.mdl-mini-footer__link-list
        li
          a(href='http://bulletnotes.io/note/gPQcYmjmqwfnHeTWE/GjT4R6pMFA') Help
        li
          a(href='https://bulletnotes.io/note/P5ju5f5AcJbStDyr5/GjT4R6pMFA') Blog
        li
          a(href='https://github.com/NickBusey/BulletNotes',target='_blank') GitHub
        li
          a(href='https://github.com/NickBusey/BulletNotes/issues',target='_blank') Support
      | {{year}} - 
      span#version
