template(name='footer')
  footer.mdl-mini-footer
    .mdl-mini-footer__left-section
      .mdl-logo BulletNotes.io
      ul.mdl-mini-footer__link-list
        li
          a(href='http://www.bulletnotes.io/note/gPQcYmjmqwfnHeTWE/GjT4R6pMFA') Help
        li
          a(href='https://github.com/NickBusey/BulletNotes',target='_blank') GitHub
      | {{year}} - v
      span#version
