template(name='footer')
  footer#siteFooter.mdl-mega-footer
    .mdl-mega-footer__middle-section
      .mdl-mega-footer__drop-down-section
        input.mdl-mega-footer__heading-checkbox(type='checkbox', checked='')
        h1.mdl-mega-footer__heading {{_ 'layouts.appBody.help'}}
        ul.mdl-mega-footer__link-list
          li
            a.introTour(href='#') Tour
          li
            a(href='http://bulletnotes.io/note/gPQcYmjmqwfnHeTWE/GjT4R6pMFA') {{_ 'layouts.appBody.userGuide' }}
          li
            a(href='http://bulletnotes.helpy.io/',target='_blank',data-intro="{{_ 'tours.intro.support' }}", data-step='7')
              | {{_ 'layouts.appBody.support' }}
              i.glyphicon.glyphicon-link
          li
            a(href='https://twitter.com/BulletNotes_io',target='_blank')
              | Twitter
              i.glyphicon.glyphicon-link
          li
            a(href='https://www.reddit.com/r/BulletNotes/',target='_blank')
              | Reddit
              i.glyphicon.glyphicon-link

      .mdl-mega-footer__drop-down-section
        input.mdl-mega-footer__heading-checkbox(type='checkbox', checked='')
        h1.mdl-mega-footer__heading {{_ 'layouts.appBody.about'}}
        ul.mdl-mega-footer__link-list
          li
            a(href='/intro') {{_ 'layouts.appBody.features' }}
          li
            a(href='/terms') {{_ 'layouts.appBody.terms' }}
          li
            a(href='/privacy') {{_ 'layouts.appBody.privacy' }}
          li
            a(href='/pricing') {{_ 'layouts.appBody.pricing' }}
          li
            a(href='https://github.com/NickBusey/BulletNotes',target='_blank')
              | GitHub
              i.glyphicon.glyphicon-link

    .mdl-mega-footer__bottom-section
      a(href='/').mdl-logo {{_ 'app.general.siteName' }}
      ul.mdl-mega-footer__link-list
        li
          | {{year}}
        li
          a(href='https://headwayapp.co/bulletnotes-changelog',target='_blank')
            span#version
        li#releaseNotes
        li
          | {{_ 'layouts.footer.createdBy' }}
          a(href='https://twitter.com/nickbusey',target='_blank') Nick Busey
        li
          div#totalNotes {{totalNotes}}
          span#totalNotesSpacer {{totalNotes}}
          span#totalNotesCaption {{_ 'layouts.footer.notesCounting' }}

