template(name='breadcrumbs')
  if showingNotes
    a.mdl-layout__tab.home(href='/') {{_ 'layouts.appBody.home'}}
    +each parent in parents
      a.mdl-layout__tab(href='/note/{{ parent._id }}/{{ parent.shareKey }}') {{{ parent.title }}}
    if focusedTitle
      a.mdl-layout__tab.is-active(href='/note/{{focusedId}}/{{shareKey}}') {{{focusedTitle}}}
