template(name='breadcrumbs')
  ol.breadcrumb
    li
      a(href='/') {{_ 'layouts.appBody.home'}}
    +each parents
      li
        a(href='/note/{{_id}}/{{shareKey}}') {{{title}}}
    if focusedTitle
      li {{{focusedTitle}}}
