template(name='breadcrumbs')
  a.mdl-layout__tab(href='/') {{_ 'layouts.appBody.home'}}
  +each parents
    a.mdl-layout__tab(href='/note/{{_id}}/{{shareKey}}') {{{title}}}
  if focusedTitle
    a.mdl-layout__tab.is-active {{{focusedTitle}}}
