template(name='breadcrumbs')
  a.mdl-navigation__link(href='/') {{_ 'layouts.appBody.home'}}
  +each parents
    a.mdl-navigation__link(href='/note/{{_id}}/{{shareKey}}') {{{title}}}
  a.mdl-navigation__link.mdl-disabled {{{focusedTitle}}}
