template(name='breadcrumbs')
  ol.breadcrumb
    unless shareKey
      li
        a(href='/') Home
    +each parents
      li
        a(href='/note/{{_id}}/{{shareKey}}') {{{title}}}
    li {{{focusedTitle}}}