template(name='App_body')
  section#container
    header.header.black-bg
      .top-menu
        ul.nav.pull-right.top-menu
          +loginButtons
      a.logo(href='/') BulletNotes
      if currentUser
        form.searchForm.form-inline
          input.form-control(placeholder='Search...', value='{{ searchTerm }}')
          submit(class='btn btn-theme',style='display:none') Search
        #top_menu.nav
          ul.nav.top-menu
            li.settingsMenu
              a(href='#')
                i.fa.fa-tasks
              ul.dropdown-menu.extended.tasks-bar
                .notify-arrow.notify-arrow-green
                li
                  p.green Options
                li.external
                  a(href='#', data-toggle='modal', data-target='#settings') Settings
                li.external
                  a(href='#', data-toggle='modal', data-target='#import') Import
                li.external
                  a(href='#', data-toggle='modal', data-target='#export') Export
                li.external
                  a(href='/search/last-changed:1hour') Updated in the last hour
                li.external
                  a(href='/search/last-changed:1day') Updated in the last day
                li.external
                  a(href='/search/not-changed:1month') Not updated for a month
            li.settingsMenu
              a(href='#')
                i.fa.fa-heart
              ul.dropdown-menu.extended.tasks-bar
                .notify-arrow.notify-arrow-green
                li
                  p.green Favorites
                +favorites
            li.settingsMenu
              +undoRedoButtons
    section#main-content
      section.wrapper
        +importer
        +exporter
        +settings
        +Template.dynamic(template=main)
    footer.site-footer
      .text-center
        | {{year}} - BulletNotes.io 
        span#version
        | - 
        a(href='https://github.com/NickBusey/BulletNotes',target='_blank') GitHub
        a.go-top(href='#')
          i.fa.fa-angle-up
