template(name='App_notFound')
  .page.not-found
    nav
      .nav-group
        a.js-menu.nav-item(href='#')
          span.icon-list-unordered
    .content-scrollable
      .wrapper-message
        p
          .title-message {{_ 'pages.appNotFound.pageNotFound'}}
        p
          a(href='/') Home
        p
          a(href='http://bulletnotes.helpy.io/') Contact Support
