@import '../../stylesheets/utils';

.page.not-found
    background: white
    overflow: hidden;
    position: relative;
    height: 500px;
    .title-message
        color: black 
        font-size: 1.2em