template(name='App_notFound')
  #not-found
    .not-found-image
      img(src='/img/404.svg', alt='')
    .not-found-title
      h1 Sorry, that page doesn't exist
      a.gotohomepage(href='/') Go to home
