body
    background-image: url('/img/bgs/abstract.jpg')
    background-size: cover !important
    background-attachment: fixed
    background-position: right top
    background-repeat: no-repeat
    font-size: 1em

.ui-selecting { background: #FECA40; }
.ui-selected { background: #F39814; color: white; }

#siteFooter
  margin-bottom: 100%

#scrollToTopWrap
  text-align: center
  color: white
  font-size: 2em
  opacity: .7
#scrollToTop
  margin: 1em auto

@media screen and (max-width: 64em)
  #menuPin
    display: none

.mdl-navigation
  text-align: center
  .buttonWrap
    display: inline-block
    margin: 1em

.mdl-layout__drawer
  background: rgba(0, 0, 0, 0.7)
  color: white
  overflow-y: scroll
  overflow-x: hidden
  .mdl-layout-title
    margin-left: 1em
  .mdl-layout-title a, .mdl-button
    color: white
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link
  color: rgba(255, 255, 255, 0.8)

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover
  color: rgba(0, 0, 0, 0.8)
  text-decoration: none

.mdl-layout__tab-bar-button, .mdl-layout__tab-bar, header .mdl-layout__drawer-button
  background: none !important

a.mdl-layout__tab:hover, a.mdl-layout__tab:focus
  color: white !important

.mdl-layout__header.mdl-layout__header--waterfall
  background: rgba(0,0,0,.2)
  border-bottom: solid black 1px
  box-shadow: 0px 3px 5px #000
  overflow: visible

.modal
  margin-top: 7em

.favoriteNote
  position: relative
  .hotkeyHint
    position: absolute
    color: white
    right: -0.1em;
    font-size: 3em;
    opacity: .5;
    top: .3em

@keyframes pulse {
  0% {transform: scale(1);opacity:.9;}
  50% {transform: scale(1.1);opacity:1;}
  100% {transform: scale(1);opacity:.9;}
}
.pulse {
  animation-name: pulse
  animation-duration: 1s
  animation-iteration-count: infinite
}

.loading
  margin-top: 20em

#nprogress
  .bar
    background-color: #22dd39
  .spinner
    display: none !important

.extraPage
  padding-top: 1em
  background-color: rgba(255,255,255,.7)
  text-align: center
  .title-message
    font-size: 2em
  p
    width: 20em
    margin: 0 auto
  h4
    margin: 1em
  .btn
    margin: 1em

::-webkit-scrollbar
    display: none

#totalNotes, #totalNotesFall
  float: left
  margin-right: 1em
  padding: 0 .5em
  position: absolute

#totalNotesSpacer
  opacity: 0
  padding: 0 .5em

.mdl-layout__obfuscator
  display: none

.zoomingTitle
  z-index: 500

.mdl-layout__tab.is-active, .mdl-layout__tab.is-active:hover
  cursor: default
  text-decoration: none

#viewModeMenu
  position: absolute
  top: -5px

.title-page
  margin-left: 3em

.contentSection
  margin: 0 1em
  padding: 1em
  background-color: white
  box-shadow: 0px 0px 10px #000
