@import 'utils'

menu-width = 270px
column = 5.55555%

body 
  position(absolute, 0, 0, 0, 0)
  background-image: linear-gradient(to bottom, rgba(0, 89, 204, 0.58), rgba(83, 185, 124, 0.62) 100%)
  background-repeat: no-repeat
  background-attachment: fixed


#container 
  position(absolute, 0, 0, 0, 0)
  @media screen and (min-width: 60em) 
    left: column
    right: column
  


#menu 
  position(absolute, 0, 0, 0, 0, 270px)


#content-container 
  position(absolute, 0, 0, 0, 0)
  transition: all 200ms ease-out
  transform: translate3d(0, 0, 0)
  background: @color-tertiary
  opacity: 1

  .page 
    position(absolute, 0, 0, 0, 0)
  

  .content-scrollable 
    position(absolute, 0, 0, 0, 0)
    transform: translate3d(0, 0, 0)
    overflow-y: auto
    -webkit-overflow-scrolling: touch
  

  // Toggle menu on mobile
  .menu-open & 
    transform: translate3d(menu-width, 0, 0)
    opacity: .85
    left: 0

    @media screen and (min-width: 40em) 
      // Show menu on desktop, negate .menu-open
      transform: translate3d(0, 0, 0) //reset transform and use position properties instead
      opacity: 1
      left: menu-width
    
  


// Transparent screen to prevent interactions on content when menu is open
.content-overlay 
  position(absolute, 0, 0, 0, 0)
  cursor: pointer

  .menu-open & 
    transform: translate3d(menu-width, 0, 0)
    z-index: 1
  

  // Hide overlay on desktop
  @media screen and (min-width: 40em)
    display: none 

ol.breadcrumb
  padding: .5em 2em

.nav-group
  display: block
  position: absolute
  z-index: 10
  top: 5px
  left: .5em
  transition: all ease-in 400ms
  .glyphicon 
    color: #8000a7
  


.nav-group.expanded 
  transform: rotate(180deg)
  left: 240px !important



.footer 
  text-align: center
  opacity: .8
  font-size: .8em
  margin: 2em
  padding: 1em
  border: solid gray 1px
