@import 'utils'

#menu
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  text-shadow: 1px 1px 2px #333;

  .help .glyphicon
    padding: 1em 0 0 1em
    color: white

  .language-toggle {
    text-align: center;
    margin-top: 1em;
    font-size: .8rem;
    .active {
      border-bottom: 1px solid;
      padding-bottom: 1px;
      color: color-secondary;
    }
  }

  .btns-group,
  .btns-group-vertical {
    margin: .5em auto;
    width: 14em;

    .btn-secondary {
      // .font-s1;
      padding-top: .5em;
      padding-bottom: .5em;
    }
  }

  .btns-group-vertical .btn-secondary {
    // .force-wrap;
    padding-right: 2.5em;
    text-align: left;
    text-indent: 0;
    white-space: normal; // Resets wrapping
    width: 100%;

    & + .btn-secondary {
      margin-top: .5rem;

      &:before {
        position(absolute, -.5rem, 50%, auto, auto, 1px, .5rem)
        background: lighten(#517096, 5%);
        content: '';
      }
    }

    [class^="icon-"],
    [class*=" icon-"] {
      position(absolute, .5em, .5em, auto, auto)
      line-height: 20px;
    }
  }

  .parentNotes
    a, h4 {
      box-shadow: rgba(0,0,0,.15) 0 1px 0 0;
      display: block;
      line-height: 1.5em;
      padding: .75em .5em;
      position: relative;
      font-size: 1rem
    }
    h4
      color: white
      font-size: 1.1rem

    .count-list {
      transition: all 200ms ease-in;
      background: rgba(255,255,255,.1);
      border-radius: 1em;
      float: right;
      font-size: .7rem;
      line-height: 1;
      margin-top: .25rem;
      margin-right: -1.5em;
      padding: .3em .5em;
    }

    [class^="icon-"],
    [class*=" icon-"] {
      // .font-s2;
      float: left;
      margin-left: -1.5rem;
      margin-right: .5rem;
      margin-top: .1rem;
      width: 1em;
    }

    .icon-lock {
      // .font-s1;
      margin-top: .2rem;
      opacity: .8;
    }

    a {
      color: #37ff94
      &:hover,
      &:active,
      &.active {
        color: color-empty;
        .count-list { background: color-primary; }
      }

      .cordova &:hover {
        // Prevent hover states from being noticeable on Cordova apps
        color: rgba(255,255,255,.8);
      }
    }

  #searchForm
    margin: 1em 0

  #searchForm input.search,
  #undo-redo button
    background: none
    padding: 0.5em
    color: #fff
    box-shadow: #56779f 0 0 0 1px inset
    margin: .5em 1.5em
    width: 14em
    border: none
    font-size: inherit
    text-align: center
    text-shadow: rgb(51, 51, 51) 1px 1px 2px
    border-radius: 0


::-webkit-input-placeholder /* Chrome/Opera/Safari */
  color: white !important
::-moz-placeholder { /* Firefox 19+ */
  color: white !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white !important;
}
:-moz-placeholder { /* Firefox 18- */
  color: white !important;
}
